body {
    background-color: rgb(219, 237, 215);
}

img {
    width: 450px;
    height: 350px;
}

div {
    text-align: center;
}

h1 {
    background-color: rgb(197, 232, 194);
    width: 2100px;
    text-align: center;
}

.container {
    display: flex;
    justify-items: center;
    text-align: center;

}